@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

body {
    background-image: url('/assests/Images/back.svg');
    background-size: contain;
    background-position: center;
    background-attachment: fixed;
}

.dark body {
    background-color: #101828;
  
}
